<div class="feature new">
  <h2><%= t("feature.form.header") %></h2>

  <% if @feature_point.errors.present? %>
    <ul>
      <% @feature_point.errors.each do | field, message | %>
        <li><%= "#{"#{field} " unless field == :base }#{message}" %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @feature_point do |form| %>
    <% if !current_user %>
    <fieldset class="auth">
      <div>
        <%= form.fields_for :profile, @feature_point.profile do |fields| %>
          <%= fields.label :name, t("feature.form.submitter_name_label") %>
          <%= fields.text_field :name, :placeholder => t("feature.form.submitter_name_label") %>
          <%= fields.label :email, t("feature.form.submitter_email_label") %>
          <%= fields.text_field :email %>
        <% end %>
        <p>
          <span class="sign-in-text">Or <%= t("auth.sign_in") %></span>
          <%= render "shared/sign_in" %>
        </p>
      </div>
    </fieldset>
    <% elsif current_user.twitter_id.present? %>
    <fieldset class="auth">
      <%= form.fields_for :profile, @feature_point.profile do |fields| %>
        <%= fields.label :email, t("feature.form.submitter_email_label") %>
        <%= fields.text_field :email %>
      <% end %>
    </fieldset>
    <% end %>
    <fieldset>
      <div class="location_types">
        <label>I'd use this location for...</label>
        <% LocationType.all.each do |location_type| -%>
            <%= label_tag "", :class => "checkbox-button" do %>
              <%= check_box_tag 'feature_point[location_type_ids][]', location_type.id %>
              <%= image_tag location_type.image.url(:icon) if location_type.image.present? %>
              <%= location_type.name %>
            <% end %>
        <% end %>
      </div>
      <div>
        <%= form.label :description, t("feature.form.description_label") %>
        <%= form.text_area :description, :placeholder => t("feature.form.description_label"), :cols => 1, :rows => 4 %>
      </div>
      <div>
        <%= form.fields_for :profile, @feature_point.profile do |fields| %>
          <%= fields.label :zip_code, t("feature.form.submitter_zip_label") %>
          <%= fields.text_field :zip_code, :placeholder => t("feature.form.submitter_zip_label") %>
        <% end %>
      </div>
    </fieldset>
    <div>
    <%= form.submit t("feature.form.submit")%>  
    </div>
    </li>
  <% end %>
</div>