<div class="feature new">
  <h2><%= t("feature.form.header") %></h2>

  <% if @feature_point.errors.present? %>
    <ul>
      <% @feature_point.errors.each do | field, message | %>
        <li><%= "#{"#{field} " unless field == :base }#{message}" %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @feature_point do |form| %>
    <% if !current_user %>
    <fieldset>
      <div>
        <%= form.label :submitter_name, t("feature.form.submitter_name_label") %>
        <%= form.text_field :submitter_name, :placeholder => t("feature.form.submitter_name_label") %>
      </div>
      <div>
        Or <%= t("auth.sign_in") %>
        <%= render "shared/sign_in" %>
      </div>
    </fieldset>
    <% end %>
    <fieldset>
      <div>
        <%= form.label :name, t("feature.form.title_label") %>
        <%= form.text_field :name, :placeholder => t("feature.form.title_label") %>
      </div>
      <div class="location_types">
        <% LocationType.all.each do |location_type| -%>
          <div>
            <%= label_tag do %>
              <%= check_box_tag 'feature_point[location_type_ids][]', location_type.id %>
              <%= location_type.name %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div>
        <%= form.label :description, t("feature.form.description_label") %>
        <%= form.text_area :description, :placeholder => t("feature.form.description_label"), :cols => 1, :rows => 4 %>
      </div>
    </fieldset>
    <div>
    <%= form.submit t("feature.form.submit")%>  
    </div>
    </li>
  <% end %>
</div>