<div class="feature show">

  <% if admin_signed_in? %>
    <div class="feature-admin">
      <%= render "feature_points/admin.html", :feature_point => feature_point %>     
    </div>
  <% end %>
  
  <%= render "shared/flashes.html" -%>

  <% if feature_point.name.present? %>
    <h2 class="name"><%= feature_point.name %></h2>
  <% end %>

  <div class="avatar">
    <%= avatar_for(feature_point.user) if feature_point.user.present? %>
  </div>

  <div class="weak">
    <%= t "feature.submitted_by", :author => feature_point.display_submitter, :date_s => l(feature_point.created_at, :format => :display) %>
  </div>

  <% if feature_point.description.present? %>
    <div class="description">
      <%= feature_point.description %>
    </div>
  <% end %>

  <div class="meta weak">
    <ul>
      <li class="first">
        <%= feature_point.regions.map(&:display_name).join(", ") %>
      </li>
    </ul>
  </div>
  
  <div class="location_types">
    <% for location_type in feature_point.location_types %>
      <span><%= location_type.name %></span>
    <% end %>
  </div>

  <div class="discussion">
    <%= render "shared/discussion.html", :commentable => feature_point %>
  </div>

</div><!-- end div.feature -->

<div class="social">

  <div class="support">
    <% if vote = vote_for(feature_point) %>
      <%= render "votes/delete.html", :supportable => feature_point, :vote => vote %>
    <% else %>
      <%= render "votes/new.html", :supportable => feature_point %>
    <% end %>
  </div>

  <div class="sharing">
    <%= render "shared/share.html", :shareable => feature_point %>  
  </div>

</div><!-- end div.social -->